body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e1e1eb;
    color: #333;
}

h1 {
    margin-top: 20px;
}

.controls {
    margin: 20px;
}

#nodeValue {
    padding: 5px;
    font-size: 16px;
    width: 120px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

#treeCanvas {
    border: 1px solid #f80000;
    background-color: #fff;
}
